@import 'skeleton-basics';

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  min-height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 20px 0px;
  border-radius: 10px;
  border: solid 5px #000;
}

.container-input>label {
  margin-bottom: 17px;
  font-size: 18px;
  
}

.container-input>span{
  position: relative;
  width: 180px;
  border: solid 5px;
  border-radius: 10px;
  background-color: #FFF;
  &:after {
    position: absolute;
    content: "ML";
    font-size: 25PX;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
}

.container-input>span>input {
  border: 0;
  width: 100px;
  font-weight: 800;
  font-size: 25px;
  padding: 4px;
  text-align: center;
}