@import 'skeleton-basics';

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  background-color: #60BAE2;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 7px;
  border-bottom: 4px solid #000;
}

#subtitle-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#subtitle {
  width: 280px;
}

#inputs,
#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calculate-button {
  background-color: #60BAE2;
  color: black;
  font-weight: 800;
  font-size: 25px;
  margin: 25px 0 60px 0;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px 0px #000000;
    box-shadow: 0px 10px 0px 0px #000000;
    &:hover{
      background-color: #459abe;
    }
  &:active {
    -webkit-box-shadow: 0px 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px 0px #000000;
    transform: translateY(10px);
  }
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 20px 0px;
  border-radius: 10px;
  border: solid 5px #000;
  margin-bottom: 20px;
}

.container-input>label {
  margin-bottom: 17px;
  font-size: 18px;

}

.container-input>span {
  position: relative;
  width: 180px;
  border: solid 5px;
  border-radius: 10px;
  background-color: #FFF;
  &:after {
    position: absolute;
    font-size: 25PX;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
}

.quantity{
  &:after {
    content: "ML";
  }
}
.nicotine, .flavor{
  &:after {
    content: "%";
  }
}

.container-input>span>input {
  border: 0;
  width: 100px;
  font-weight: 800;
  font-size: 25px;
  padding: 4px;
  text-align: right;
}

.container-result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 30px;
}

.container-result>div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.container-result>div:nth-child(1)>img {
  align-self: center;
  font-size: 30px;
}

.container-result>div:nth-child(2) {
  margin-left: 40px;
}

.container-result>div:nth-child(2)>div {
  background-color: pink;
  width: 100%;
  height: 16px;
  margin-top: -7px;
}

.container-result>div:nth-child(2)>p {
  font-size: 40px;
}

@media (min-width: 940px)  {
  #results, #inputs{
    flex-direction: row;
  }

  #inputs{
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
  }

  #results{
    margin-top: -50px;
  }
  
  .container-input{
    margin: 0 40px;
  }

}